html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #b8ffb5;
  font-family: Roboto;
  background-image: url('/B1e/Images/Background/Vector Waves.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

main {
  margin-left: 200px;
}

h1 {
  text-align: center;
  font-size: 40px;
}
